<form action="/performaddition" method="post">
<input type="text" name="firstvalue"  placeholder="First Value">
<input type="text" name="secondvalue" placeholder="Second Value">
<button type="submit">Add These Numbers</button>
</form>

